@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");


:root {
  --primary-color: #1DB954;
  --secondary-color: #FFFFFF;
  --background-color: #F5F5F5;
  --card-color: #CEF6DC;
  --text-color: #4F4F4F;
  --button-color: #1DB954;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#card {
  background-color: var(--secondary-color);
  color: var(--text-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.album-list {
  background-color: var(--background-color);
}

.card {
  background-color: var(--card-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card:hover {
  background-color: #B6F5BB;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
  color: var(--primary-color);
}

.card p {
  color: var(--text-color);
}

.card button {
  background-color: var(--button-color);
}

.card button:hover {
  background-color: #17a048;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #1DB954;
  color: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 1;

}
.card h1{
    width: 200px;
  max-width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 1rem;
}
.card h1{
  width: 200px;
max-width: 100%;
text-align: center;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
margin-top: 1rem;
}

.header h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#search {
  width: auto;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: #4f4f4f;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.album-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  padding: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-radius: 4px;
  max-width: fit-content;
  background-color: #cef6dc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  max-width: 200px;
  border-radius: 4px;
}

.card h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.card p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #4f4f4f;
  text-align: center;
}

.card button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
  background-color: #1DB954;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card button:hover {
  background-color: #17a048;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width:520px){
  .header{
    flex-direction: column;
    gap: 1rem;

  }
  .album-list{
    margin: 0 20%;

  }
}

@media(max-width:448px){
  .album-list{
    margin: 0 70px;

  }
}

@media(max-width:409px){
  .album-list{
    margin: 0 60px;

  }
}

@media(max-width:380px){
  .album-list{
    margin: 0 40px;

  }
}

@media(max-width:337px){
  .album-list{
    margin: 0 20px;

  }
}


